  <% if @users.empty? %>
    <p>This business has no user personas. <a href="<%= @biz_link %>/users/new">Create a new user.</a>
  <% end %>
  
  <% @users.each do |u| %>
  <div class="user-card">
    <img class="profile-img" src="/images/user-icon.png" alt="Profile Image">
    <h4><%= u.name %></h4>
    <ul class="user-info">
      <li><strong>Age:</strong> <%= u.age %></li>
      <li><strong>Bio:</strong> <%= u.bio %></li>
      <li><img src='/images/green-check-icon.png'> "I love <%= u.love_phrase %>."</li>
      <li><img src='/images/red-x-icon.png'> "I hate <%= u.hate_phrase %>."</li>
      <li><strong>Need:</strong> <%= u.need %></li>
      <li><strong>Motivation:</strong> <%= u.motivation %></li>
      <li><strong>Challenge:</strong> <%= u.challenge %></li>
    </ul>

    <div class="user-buttons">
      <div>
        <form action="/biz/<%= @business.uuid %>/users/<%= u.id %>/edit" method="get">
          <button class='edit-user-button' name='biz_id' value="<%= @business.id %>" type="submit">Edit User</button>
        </form>
      </div>

      <div>
        <form action="/biz/<%= @business.uuid %>/users/<%= u.id %>/destroy" method="post">
          <button class='delete-user-button' name='biz_id' value="<%= @business.id %>" type="submit">Delete User</button>
        </form>
      </div>
    </div>
  </div>
  <% end %>